APP_PORT=8040
APP_ENV=development

DB_HOST=localhost
DB_PORT=5488
DB_USER=finance_user
DB_PASSWORD=finance_password
DB_NAME=finance_db
DB_SSLMODE=disable

JWT_SECRET=your_super_secret_jwt_key_change_in_prod